nbproject/
*.o
*~
camerastatus
camerastatus*.gz
Makefile
config.h
config.log
config.status
src/.deps/
test/.deps/
stamp-h1
src/.dirstamp
test/.dirstamp
Makefile.in
autom4te.cache/
camerastatustest
configure
config.h.in
